queues:
  - default
  - high
  - low
concurrency: 2

queue:
  default: default
  prefix: queue_

#error_handlers:
#  - CustomerError

logging:
  level: DEBUG
#  handlers:
#    - StreamHandler

#  handlers:
#    - class: StreamHandler
#      stream: app.log
#      level: DEBUG